* {
    background-color: #f6cb9d;
    font-family: 'Lucida Sans', sans-serif;
    color: #333;
    line-height: 2;
}

h1 {
    color: #132711;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 300%;
    background-color: chocolate;
}

h2 {
    color: #8b008b;
    font-weight: lighter;
    text-transform: lowercase;
    font-weight: bold;
    background-color: blue;
}

nav ul {
    list-style: none;
    background-color: chartreuse;
    padding-left: 0;
}

nav ul li {
    background-color: aqua;
    margin-left: 0;
    margin-right: 50%;
}

nav ul li a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background-color: red;
    padding-right: 20px;
    padding-left: 20px;
}